@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root{
    --vermelho: #E50914;
    --preto: #141414;
    --branco: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    font-family: Helvetica, sans-serif;
    color: var(--branco);
}
header {
    background-color: #000;
    padding: 5px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
}

header .logo i {
    padding-right: 6px;    
}

header nav {
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;
}

header nav a:hover {
    color: #ffffff;
}

/* filme principal */

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0,.5) , rgba(0, 0, 0, .8) 99%), url(/img/capa-era-do-gelo.jpg);

    height: 500px;
    background-size: cover;
    background-position-y: 65%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}

.filme-principal .titulo {
    margin-top: 5%;
    font-size: 40px;
    
}

.botao {
    background-color: rgba(0, 0, 0, .5);
    border: 0;
    color: var(--branco);

    padding: 15px 25px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    outline: none;
    transition: .3s ease all;
}

.botao:hover {
    background-color: var(--branco);
    color: var(--preto);
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 30px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.descricao-carrossel {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
}

.descricao-carrossel i {
    padding-left: 10px;
}

.carrosel-filmes{
    margin: 10px;
}

.item:hover {
    cursor: pointer;
}

.cover-filme {
    display: none;
}

.item:hover .cover-filme{
    position: absolute; 
    left: 50%; 
    top: 50%; 
    margin-top: -75%; 
    margin-left: -50%; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, .3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-assistir {
    outline: none;
    border: none;
    width: 180px;
    padding: 10px 0;
    border-radius: 15px;
    background-color: var(--vermelho);
    color: var(--branco);
    transition: .4s ease all;
}

.btn-assistir:hover {
    cursor: pointer;
    background-color: rgb(167, 0, 0);
    color: var(--branco);
}

.btn-assistir i {
    padding-right: 5px;
}