@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    header nav {
        margin-right: 0;
    }

    .botao {
        margin-top: 5px;
        width: 300px;
    }

    .container {
        margin-left: 0;
    }

    .filme-principal .container {
        margin-left: 0;
        padding: 0 10px;
        width: 85%;
    }

    .filme-principal {
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filme-principal .descricao {
        font-size: 10pt;
    }
    
    .filme-principal .titulo {
        margin-top: 5%;
        font-size: 35px;
    }

    .btn-assistir {
        width: 100px;
        font-size: 12px;
    }
}

@media screen and (min-width:1000px) {
    .descricao {
        width: 70%;
    }
}